@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
:root{
    /* colors */
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    /* font headings */
    --font1:'Poppins', sans-serif;
    /* font body */
    --font2:'Open Sans', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Violet);
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    color: #fff;
}
.container__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    width: 400px;
   
}
.logo, .ilustracion, .container__paragraph, .btn{
    margin: 1em 0;
}
.logo{
    width: 150px;
    height: 50px;
}
.ilustracion{
    width: 325px;
}
.container__title{
    font-family: var(--font1);
    font-size: 1.7em;
    text-align: center;
    font-weight: 600;
}
.container__paragraph{
    text-align: center;
    font-family: var(--font2);
    font-size: 1.06em;
    font-weight: 400;
}
.btn{
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin: 5% 20% ;
    font-size: 15px;
    color: var(--Violet);
    background: #fff;
}
.social_media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
}
.social__item{
    padding: 6px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
}
.btn:hover {
    color: #fff;
    background-color: var(--Soft-Magenta);
    cursor: pointer;
}
.social__item:hover {
    border-color: var(--Soft-Magenta);
    color: var(--Soft-Magenta);
    cursor: pointer;
}
@media (min-width:800px){
    .logo{
        width: 200px;
        height: 50px;
    }
    .ilustracion{
        width: 425px;
    }
    .logo, .ilustracion, 
    .container__paragraph{
    margin: 1.7em 0;
    }
    .container__title{
        font-size: 1.9em;
    }
    .container__paragraph{
     
        font-size: 1.1em;
    }
    .btn{
        width: 70%;
        height: 45px;
        font-size: 17px;
        margin-bottom: 1em ;
    }
    .social_media{
        width: 50%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        margin: 1em;
    }
    .social__item{
        padding: 10px;
        font-size: 1.6em;
    } 
}
@media (min-width:1024px){
    body{
        background-image: url("./images/bg-desktop.svg");
    }
    .container{
        width: 1024px;
    }
    .container__section{
        display: grid;
        grid-template-columns: repeat(2,600px);
        grid-template-rows: 1fr,30px;
        grid-template-areas: "img txt"
        ". social";
        place-content: center;
       place-items: center;
       margin: 0% 30%;
      
    }
     .logo{
        width: 200px;
        height: 50px;
    }
    .ilustracion{
        width: 550px;
    }
    
    .container__title, .container__paragraph{
        text-align: start;
        font-size: 1.5em;
    }
    .container__txt{
        text-align: start;
    }
    .btn{
        width: 50%;
        height: 45px;
        margin: 0% ;
    }
    .social_media{
        grid-area: social;
        grid-row: -1/-2;
        justify-self: end;
        width: 50%;
        height: 30px;
        margin: 0;
    }
  
  
} 